.flag-24 {
    display: inline-block;
    width: 24px;
    height: 24px;
    overflow: hidden;
    background-image: url(../img/flag-24.png);
    background-repeat: no-repeat;
    background-position: -100px -100px;
    vertical-align: middle
}
.flag-24-XX {
    margin-top: 4px;
    margin-bottom: 4px;
    height: 0;
    border-width: 8px 12px;
    border-style: solid;
    border-color: #ccc #ddd
}
.flag-24-AD {
    background-position: 0 0
}
.flag-24-AE {
    background-position: 0 -25px
}
.flag-24-AF {
    background-position: 0 -50px
}
.flag-24-AG {
    background-position: 0 -75px
}
.flag-24-AI {
    background-position: 0 -100px
}
.flag-24-AL {
    background-position: 0 -125px
}
.flag-24-AM {
    background-position: 0 -150px
}
.flag-24-AN {
    background-position: 0 -175px
}
.flag-24-AO {
    background-position: 0 -200px
}
.flag-24-AQ {
    background-position: 0 -225px
}
.flag-24-AR {
    background-position: 0 -250px
}
.flag-24-AS {
    background-position: 0 -275px
}
.flag-24-AT {
    background-position: 0 -300px
}
.flag-24-AU {
    background-position: 0 -325px
}
.flag-24-AW {
    background-position: 0 -350px
}
.flag-24-AX {
    background-position: 0 -375px
}
.flag-24-AZ {
    background-position: 0 -400px
}
.flag-24-BA {
    background-position: 0 -425px
}
.flag-24-BB {
    background-position: 0 -450px
}
.flag-24-BD {
    background-position: 0 -475px
}
.flag-24-BE {
    background-position: 0 -500px
}
.flag-24-BF {
    background-position: 0 -525px
}
.flag-24-BG {
    background-position: 0 -550px
}
.flag-24-BH {
    background-position: 0 -575px
}
.flag-24-BI {
    background-position: 0 -600px
}
.flag-24-BJ {
    background-position: 0 -625px
}
.flag-24-BL {
    background-position: 0 -650px
}
.flag-24-BM {
    background-position: 0 -675px
}
.flag-24-BN {
    background-position: 0 -700px
}
.flag-24-BO {
    background-position: 0 -725px
}
.flag-24-BR {
    background-position: 0 -750px
}
.flag-24-BS {
    background-position: 0 -775px
}
.flag-24-BT {
    background-position: 0 -800px
}
.flag-24-BW {
    background-position: 0 -825px
}
.flag-24-BY {
    background-position: 0 -850px
}
.flag-24-BZ {
    background-position: 0 -875px
}
.flag-24-CA {
    background-position: 0 -900px
}
.flag-24-CC {
    background-position: 0 -925px
}
.flag-24-CD {
    background-position: 0 -950px
}
.flag-24-CF {
    background-position: 0 -975px
}
.flag-24-CG {
    background-position: 0 -1000px
}
.flag-24-CH {
    background-position: 0 -1025px
}
.flag-24-CI {
    background-position: 0 -1050px
}
.flag-24-CK {
    background-position: 0 -1075px
}
.flag-24-CL {
    background-position: 0 -1100px
}
.flag-24-CM {
    background-position: 0 -1125px
}
.flag-24-CN {
    background-position: 0 -1150px
}
.flag-24-CO {
    background-position: 0 -1175px
}
.flag-24-CR {
    background-position: 0 -1200px
}
.flag-24-CU {
    background-position: 0 -1225px
}
.flag-24-CV {
    background-position: 0 -1250px
}
.flag-24-CX {
    background-position: 0 -1275px
}
.flag-24-CY {
    background-position: 0 -1300px
}
.flag-24-CZ {
    background-position: 0 -1325px
}
.flag-24-DE {
    background-position: 0 -1350px
}
.flag-24-DJ {
    background-position: 0 -1375px
}
.flag-24-DK {
    background-position: 0 -1400px
}
.flag-24-DM {
    background-position: 0 -1425px
}
.flag-24-DO {
    background-position: 0 -1450px
}
.flag-24-DZ {
    background-position: 0 -1475px
}
.flag-24-EC {
    background-position: 0 -1500px
}
.flag-24-EE {
    background-position: 0 -1525px
}
.flag-24-EG {
    background-position: 0 -1550px
}
.flag-24-EH {
    background-position: 0 -1575px
}
.flag-24-ER {
    background-position: 0 -1600px
}
.flag-24-ES {
    background-position: 0 -1625px
}
.flag-24-ET {
    background-position: 0 -1650px
}
.flag-24-EU {
    background-position: 0 -1675px
}
.flag-24-FI {
    background-position: 0 -1700px
}
.flag-24-FJ {
    background-position: 0 -1725px
}
.flag-24-FK {
    background-position: 0 -1750px
}
.flag-24-FM {
    background-position: 0 -1775px
}
.flag-24-FO {
    background-position: 0 -1800px
}
.flag-24-FR {
    background-position: 0 -1825px
}
.flag-24-GA {
    background-position: 0 -1850px
}
.flag-24-GB {
    background-position: 0 -1875px
}
.flag-24-GD {
    background-position: 0 -1900px
}
.flag-24-GE {
    background-position: 0 -1925px
}
.flag-24-GG {
    background-position: 0 -1950px
}
.flag-24-GH {
    background-position: 0 -1975px
}
.flag-24-GI {
    background-position: 0 -2000px
}
.flag-24-GL {
    background-position: 0 -2025px
}
.flag-24-GM {
    background-position: 0 -2050px
}
.flag-24-GN {
    background-position: 0 -2075px
}
.flag-24-GQ {
    background-position: 0 -2100px
}
.flag-24-GR {
    background-position: 0 -2125px
}
.flag-24-GS {
    background-position: 0 -2150px
}
.flag-24-GT {
    background-position: 0 -2175px
}
.flag-24-GU {
    background-position: 0 -2200px
}
.flag-24-GW {
    background-position: 0 -2225px
}
.flag-24-GY {
    background-position: 0 -2250px
}
.flag-24-HK {
    background-position: 0 -2275px
}
.flag-24-HN {
    background-position: 0 -2300px
}
.flag-24-HR {
    background-position: 0 -2325px
}
.flag-24-HT {
    background-position: 0 -2350px
}
.flag-24-HU {
    background-position: 0 -2375px
}
.flag-24-ID,
.flag-24-MC {
    background-position: 0 -2400px
}
.flag-24-IE {
    background-position: 0 -2425px
}
.flag-24-IL {
    background-position: 0 -2450px
}
.flag-24-IM {
    background-position: 0 -2475px
}
.flag-24-IN {
    background-position: 0 -2500px
}
.flag-24-IQ {
    background-position: 0 -2525px
}
.flag-24-IR {
    background-position: 0 -2550px
}
.flag-24-IS {
    background-position: 0 -2575px
}
.flag-24-IT {
    background-position: 0 -2600px
}
.flag-24-JE {
    background-position: 0 -2625px
}
.flag-24-JM {
    background-position: 0 -2650px
}
.flag-24-JO {
    background-position: 0 -2675px
}
.flag-24-JP {
    background-position: 0 -2700px
}
.flag-24-KE {
    background-position: 0 -2725px
}
.flag-24-KG {
    background-position: 0 -2750px
}
.flag-24-KH {
    background-position: 0 -2775px
}
.flag-24-KI {
    background-position: 0 -2800px
}
.flag-24-KM {
    background-position: 0 -2825px
}
.flag-24-KN {
    background-position: 0 -2850px
}
.flag-24-KP {
    background-position: 0 -2875px
}
.flag-24-KR {
    background-position: 0 -2900px
}
.flag-24-KV {
    background-position: 0 -2925px
}
.flag-24-KW {
    background-position: 0 -2950px
}
.flag-24-KY {
    background-position: 0 -2975px
}
.flag-24-KZ {
    background-position: 0 -3000px
}
.flag-24-LA {
    background-position: 0 -3025px
}
.flag-24-LB {
    background-position: 0 -3050px
}
.flag-24-LC {
    background-position: 0 -3075px
}
.flag-24-LI {
    background-position: 0 -3100px
}
.flag-24-LK {
    background-position: 0 -3125px
}
.flag-24-LR {
    background-position: 0 -3150px
}
.flag-24-LS {
    background-position: 0 -3175px
}
.flag-24-LT {
    background-position: 0 -3200px
}
.flag-24-LU {
    background-position: 0 -3225px
}
.flag-24-LV {
    background-position: 0 -3250px
}
.flag-24-LY {
    background-position: 0 -3275px
}
.flag-24-MA {
    background-position: 0 -3300px
}
.flag-24-MD {
    background-position: 0 -3325px
}
.flag-24-ME {
    background-position: 0 -3350px
}
.flag-24-MG {
    background-position: 0 -3375px
}
.flag-24-MH {
    background-position: 0 -3400px
}
.flag-24-MK {
    background-position: 0 -3425px
}
.flag-24-ML {
    background-position: 0 -3450px
}
.flag-24-MM {
    background-position: 0 -3475px
}
.flag-24-MN {
    background-position: 0 -3500px
}
.flag-24-MO {
    background-position: 0 -3525px
}
.flag-24-MP {
    background-position: 0 -3550px
}
.flag-24-MR {
    background-position: 0 -3575px
}
.flag-24-MS {
    background-position: 0 -3600px
}
.flag-24-MT {
    background-position: 0 -3625px
}
.flag-24-MU {
    background-position: 0 -3650px
}
.flag-24-MV {
    background-position: 0 -3675px
}
.flag-24-MW {
    background-position: 0 -3700px
}
.flag-24-MX {
    background-position: 0 -3725px
}
.flag-24-MY {
    background-position: 0 -3750px
}
.flag-24-MZ {
    background-position: 0 -3775px
}
.flag-24-NA {
    background-position: 0 -3800px
}
.flag-24-NC {
    background-position: 0 -3825px
}
.flag-24-NE {
    background-position: 0 -3850px
}
.flag-24-NF {
    background-position: 0 -3875px
}
.flag-24-NG {
    background-position: 0 -3900px
}
.flag-24-NI {
    background-position: 0 -3925px
}
.flag-24-NL {
    background-position: 0 -3950px
}
.flag-24-NO {
    background-position: 0 -3975px
}
.flag-24-NP {
    background-position: 0 -4000px
}
.flag-24-NR {
    background-position: 0 -4025px
}
.flag-24-NU {
    background-position: 0 -4050px
}
.flag-24-NZ {
    background-position: 0 -4075px
}
.flag-24-OM {
    background-position: 0 -4100px
}
.flag-24-PA {
    background-position: 0 -4125px
}
.flag-24-PE {
    background-position: 0 -4150px
}
.flag-24-PG {
    background-position: 0 -4175px
}
.flag-24-PH {
    background-position: 0 -4200px
}
.flag-24-PK {
    background-position: 0 -4225px
}
.flag-24-PL {
    background-position: 0 -4250px
}
.flag-24-PN {
    background-position: 0 -4275px
}
.flag-24-PR {
    background-position: 0 -4300px
}
.flag-24-PS {
    background-position: 0 -4325px
}
.flag-24-PT {
    background-position: 0 -4350px
}
.flag-24-PW {
    background-position: 0 -4375px
}
.flag-24-PY {
    background-position: 0 -4400px
}
.flag-24-QA {
    background-position: 0 -4425px
}
.flag-24-RO {
    background-position: 0 -4450px
}
.flag-24-RS {
    background-position: 0 -4475px
}
.flag-24-RU {
    background-position: 0 -4500px
}
.flag-24-RW {
    background-position: 0 -4525px
}
.flag-24-SA {
    background-position: 0 -4550px
}
.flag-24-SB {
    background-position: 0 -4575px
}
.flag-24-SC {
    background-position: 0 -4600px
}
.flag-24-SD {
    background-position: 0 -4625px
}
.flag-24-SE {
    background-position: 0 -4650px
}
.flag-24-SG {
    background-position: 0 -4675px
}
.flag-24-SH {
    background-position: 0 -4700px
}
.flag-24-SI {
    background-position: 0 -4725px
}
.flag-24-SK {
    background-position: 0 -4750px
}
.flag-24-SL {
    background-position: 0 -4775px
}
.flag-24-SM {
    background-position: 0 -4800px
}
.flag-24-SN {
    background-position: 0 -4825px
}
.flag-24-SO {
    background-position: 0 -4850px
}
.flag-24-SR {
    background-position: 0 -4875px
}
.flag-24-SS {
    background-position: 0 -4900px
}
.flag-24-ST {
    background-position: 0 -4925px
}
.flag-24-SV {
    background-position: 0 -4950px
}
.flag-24-SY {
    background-position: 0 -4975px
}
.flag-24-SZ {
    background-position: 0 -5000px
}
.flag-24-TC {
    background-position: 0 -5025px
}
.flag-24-TD {
    background-position: 0 -5050px
}
.flag-24-TG {
    background-position: 0 -5075px
}
.flag-24-TH {
    background-position: 0 -5100px
}
.flag-24-TJ {
    background-position: 0 -5125px
}
.flag-24-TM {
    background-position: 0 -5150px
}
.flag-24-TN {
    background-position: 0 -5175px
}
.flag-24-TO {
    background-position: 0 -5200px
}
.flag-24-TP {
    background-position: 0 -5225px
}
.flag-24-TR {
    background-position: 0 -5250px
}
.flag-24-TT {
    background-position: 0 -5275px
}
.flag-24-TV {
    background-position: 0 -5300px
}
.flag-24-TW {
    background-position: 0 -5325px
}
.flag-24-TZ {
    background-position: 0 -5350px
}
.flag-24-UA {
    background-position: 0 -5375px
}
.flag-24-UG {
    background-position: 0 -5400px
}
.flag-24-US {
    background-position: 0 -5425px
}
.flag-24-UY {
    background-position: 0 -5450px
}
.flag-24-UZ {
    background-position: 0 -5475px
}
.flag-24-VA {
    background-position: 0 -5500px
}
.flag-24-VC {
    background-position: 0 -5525px
}
.flag-24-VE {
    background-position: 0 -5550px
}
.flag-24-VG {
    background-position: 0 -5575px
}
.flag-24-VI {
    background-position: 0 -5600px
}
.flag-24-VN {
    background-position: 0 -5625px
}
.flag-24-VU {
    background-position: 0 -5650px
}
.flag-24-WS {
    background-position: 0 -5675px
}
.flag-24-YE {
    background-position: 0 -5700px
}
.flag-24-YT {
    background-position: 0 -5725px
}
.flag-24-ZA {
    background-position: 0 -5750px
}
.flag-24-ZM {
    background-position: 0 -5775px
}
.flag-24-ZW {
    background-position: 0 -5800px
}
.flag-24-_abkhazia {
    background-position: 0 -5825px
}
.flag-24-_british-antarctic-territory {
    background-position: 0 -5850px
}
.flag-24-_commonwealth {
    background-position: 0 -5875px
}
.flag-24-_england {
    background-position: 0 -5900px
}
.flag-24-_gosquared {
    background-position: 0 -5925px
}
.flag-24-_mars {
    background-position: 0 -5950px
}
.flag-24-_nagorno-karabakh {
    background-position: 0 -5975px
}
.flag-24-_nato {
    background-position: 0 -6000px
}
.flag-24-_northern-cyprus {
    background-position: 0 -6025px
}
.flag-24-_olympics {
    background-position: 0 -6050px
}
.flag-24-_red-cross {
    background-position: 0 -6075px
}
.flag-24-_scotland {
    background-position: 0 -6100px
}
.flag-24-_somaliland {
    background-position: 0 -6125px
}
.flag-24-_south-ossetia {
    background-position: 0 -6150px
}
.flag-24-_united-nations {
    background-position: 0 -6175px
}
.flag-24-_wales {
    background-position: 0 -6200px
}
.flag-24-_northern-ireland {
    background-position: 0 -6225px
}
.flag-24-YU {
    background-position: 0 -6250px
}
.flag-24-PF {
    background-position: 0 -6275px
}
.flag-24-_chinese-taipei {
    background-position: 0 -6300px
}
.flag-24-SU {
    background-position: 0 -6325px
}
.flag-24-_cis {
    background-position: 0 -6350px
}
.flag-24-DD {
    background-position: 0 -6375px
}
.flag-24-ZR {
    background-position: 0 -6400px
}
.flag-24-TL {
    background-position: 0 -6425px
}
